body {
    background-color: #f8f0e3;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.cabeçalho header {
    flex: 0 0 auto;
    margin-left: 20px;
    margin-top: 15px;
}

.campos .titulo {
    margin-right: auto;
    margin-left: -5px;
    margin-top: -20px;
    font-weight: bolder;
}

.campos {
    flex: 1 0 auto;       
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 50px;     
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: #F8F8F8;
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    border: none;
    border-top: solid 2px black;
    border-top-left-radius: 20px;   
    border-top-right-radius: 20px;
    box-sizing: border-box;
}

#formulario {
    display: flex;
    flex-direction: column; 
    gap: 15px;              
    width: 300px; 
    margin-left: -10px;        
    margin-top: -5px;  
}

#formulario input,#formulario select {
    padding: 10px;          
    font-size: 16px;       
    border: 1px solid #ccc; 
    border-radius: 8px;     
    width: 100%;   
    box-sizing: border-box;
}

#formulario button {
    width: 320px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Instrument Sans', sans-serif;
    cursor: pointer;
    box-shadow: 2px 3px 0px black;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-top: 10px;
}

#formulario .confirmar {
    background-color: #FFC257;
    border: 1px solid black;
}


.campo-cidade-estado {
    display: flex;
    gap: 10px;
    width: 100%;
}

.campo-cidade-estado div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.campos .pergunta {
    margin-left: 10px;
    margin-top: 20px;
}
