* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

.main-container {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

/* DESKTOP */
@media (min-width: 1024px) {
    .main-container {
        margin-left: 30%;
        width: 45%;
    }
}