* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  background-color: var(--bg-color);
}

#menu-desktop, #notifications-desktop{
    display: none;
}
.main-container {
  margin-top: 10px;
}


.edit-profile-main {
  width: 90%;
  margin: auto;
}

.cover-photo {
  background-color: #AF00D2;
  height: 120px;
  width: 100%;
  z-index: 0;
}

.edit-cover-btn {
  text-align: end;
  margin: 2% 2% 2% 90%;
}

.profile-pic {
  margin-top: -40px;
}

.profile-edit__form {
  display: flex;
  flex-direction: column;
  margin: 2%;
  gap: 10px;
}

input {
  padding: 10px;
  border-radius: var(--border-radius);
}

.submit {
  background-color: var(--highlight-yellow);
  font-weight: bold;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 12px;
  box-shadow: var(--box-shadow);
  margin-top: 10px;
  font-size: 1.1rem;
}

.submit:hover {
  background-color: var(--black);
  color: white;
}

/* DESKTOP */
@media (min-width: 1024px) {

  body {
    display: flex;
    gap: 10px; 
    width: 90%;
    margin: 0 auto;       
  }


  #header, #menu {
    display: none;
  }

  #menu-desktop {
    display: block;
    width: 24%;      
    flex-shrink: 0;   
    height: 100vh;
    position: fixed;
    overflow-y: auto;
  }

  .main-container {
    margin-left: 30%;
    width: 45%;
  }

 #notifications-desktop { 
    display: block;
    position: fixed;
    right: 0;          
    width: 24%;         
    height: 100vh;
    margin-right: 20px;
  }

  .profile-edit__form {
    margin-top: 20px;
  font-weight: bold;
}

}
