* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  background-color: var(--bg-color);
}

#menu-desktop, #notifications-desktop, .title-page {
    display: none;
}


.exchange {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.exchange-items__question {
    margin: 10px 0;
    font-size: 1.2rem;
}

.exchange-items__question:first-of-type {
    margin-bottom: 16px;
}

.question-container {
    display: flex;
    justify-content: space-between;
    width: 50%;

}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
  accent-color: var(--highlight-yellow); 
}

.question {
    display: flex;
    gap: 10px;
    align-items: center;
}

.btn-exchange {
    all: unset;
    cursor: pointer;
    text-align: center;
    background-color: var(--highlight-yellow);
    border: var(--border);
    padding: 12px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    font-weight: bold;
    margin-bottom: 50px;
}

.btn-exchange:hover {
    color: var(--white);
    background-color: var(--black);
}

/* DESKTOP */
@media (min-width: 1024px) {


  body {
    display: flex;
    gap: 10px; 
    width: 90%;
    margin: 0 auto;       
  }


  #header, #menu, .title-page {
    display: none;
  }

  #menu-desktop {
    display: block;
    width: 24%;      
    flex-shrink: 0;   
    height: 100vh;
    position: fixed;
    overflow-y: auto;
  }


 #notifications-desktop { 
    display: block;
    position: fixed;
    right: 0;          
    width: 24%;         
    height: 100vh;
    margin-right: 20px;
  }

   .exchange {
    margin-left: 30%;
    width: 45%;

  }

  .title-page {
    display: block;
    margin-top: 13%;
    margin-bottom: 30px;
  }
}


