body {
      background-color: var(--bg-color);
}

.grid {
      display: grid;
      grid-template-columns: repeat(2, 0.45fr);
      gap: 15px;
      justify-content: center;
      margin-top: 40px;
      padding: 0 10px;
    }

    .card {
      border: var(--border-thin);
      border-radius: 12px;
      padding: 12px;
      text-align: left;
      position: relative;
      background: var(--white);
    }

    .card img {
      width: 100%;
      border-radius: 8px;
      border: var(--border-thin);

    }

    .card h3 {
      font-size: 15px;
      margin: 0 0 4px;
      color: var( --highlight-yellow);
    }

    .card p {
      font-size: 12px;
      color:var(--black);
      margin: 0;
    }

    .fav {
      border: none;
      background: transparent;
      cursor: pointer;
      padding: 0;
      font-size: 17px;
      color: #555;
      align-self: flex-start;
      margin-top: -4px;
    }

    .info {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
      margin-bottom: 20px;
    }

    .texto {
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      margin-top: -5px;
    }