body{
    background-color: #f8f0e3;
}

.cabeçalho header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 18px;   
    border-bottom: 1px solid #f8f0e3;

}

.bem-vindo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login h1{
    margin-left: -220px;
    margin-top: -40px;
}

#formulario {
    display: flex;
    flex-direction: column; 
    gap: 15px;              
    width: 300px;           
}

#formulario input {
    padding: 10px;          
    font-size: 16px;       
    border: 1px solid #ccc; 
    border-radius: 8px;     
    width: 100%;           
}

#formulario button {
    width: 320px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Instrument Sans', sans-serif;
    cursor: pointer;
    box-shadow: 2px 3px 0px black;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-top: 10px;
}

/* botão específico "Entrar" */
#formulario .entrar {
    background-color: #FFC257;
    border: 1px solid black;
}

.perguntas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perguntas .esqueceu{
    margin-left: 30px;
    margin-top: 15px;
}

.perguntas .criar{
    margin-left: 30px;
}