* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  background-color: var(--bg-color);
}

#menu-desktop,
#notifications-desktop {
  display: none;
}

/* DESKTOP */
@media (min-width: 1024px) {

  body {
    display: flex;
    gap: 10px;
    width: 90%;
    margin: 0 auto;
  }


  #header,
  #menu {
    display: none;
  }

  #menu-desktop {
    display: block;
    width: 24%;
    flex-shrink: 0;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
  }

  .main-container {
    margin-left: 30%;
    width: 45%;
  }

  #notifications-desktop {
    display: block;
    position: fixed;
    right: 0;
    width: 24%;
    height: 100vh;
    margin-right: 20px;
  }

  .profile-edit__form {
    margin-top: 20px;
    font-weight: bold;
  }

}
