* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
        font-family: var(--font-family);


}

main {      
    width: 100%;
    min-height: 100vh;
    background-color: var(--highlight-yellow);

}

.app-name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8%;
}

.app-name h1 {
    font-size: 1.6rem;
}

.app-name img {
    margin-right: 30px;
    padding: 32px 0;
}

.menu-container__name {
    margin: 8px 32px 0 32px;
    font-size: 1.2rem;
}

.menu-container-desktop {
    display: flex;
    flex-direction: column;

}

.menu-container-desktop a {
    text-decoration: none;
    color: var(--black);
    display: flex;
    justify-content: space-between;
    margin: 4px 32px;
    background-color: var(--white);
    padding: 8px 12px;
    border: var(--border);
    border-radius: var(--border-radius);
    font-weight: 500;
    font-size: 0.9rem;
}

.menu-container-desktop a:hover {

    background-color: var(--medium-yellow);

}