* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    background-color: var(--bg-color);
}

#menu-desktop, #notifications-desktop, .title-page {
    display: none;
}

/*REVIEWS*/

.reviews {
    width: 90%;
    margin: 0 auto;

}

.reviews__card {
    display: flex;
    align-items: center;
        border: var(--border);
        border-radius: var(--border-radius);
        margin: 3dvh 0;
        box-shadow: var(--box-shadow);
        background-color: var(--white);

}

.review {
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 28px;
    font-size: 0.8rem;

}

.review__date-stars {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}


.profile__picture {
    border-radius: 50%;
    border: var(--border);
    width: 60px;
}

.img-name {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding: 20px 0 20px 20px;

}

h5 {
        font-size: 1rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
  body {
    background-color: pink !important;
  }
}

/* DESKTOP */
@media (min-width: 1024px) {


  body {
    display: flex;
    gap: 10px; 
    width: 90%;
    margin: 0 auto;       
  }


  #header, #menu, .title-page {
    display: none;
  }

  #menu-desktop {
    display: block;
    width: 24%;      
    flex-shrink: 0;   
    height: 100vh;
    position: fixed;
    overflow-y: auto;
  }

  .reviews {
    margin-left: 30%;
    width: 45%;
  }

 #notifications-desktop { 
    display: block;
    position: fixed;
    right: 0;          
    width: 24%;         
    height: 100vh;
    margin-right: 20px;
  }

  .title-page {
    display: block;
    margin-top: 13%;
  }

}


