body {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cabeçalho {
    display: none; 
}

.aviso {
    display: flex;
    flex-direction: column;  
    justify-content: center; 
    align-items: center;     
    gap: 10px;               
    background-color: #FFC257;
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    margin-top: 220px;
    border: solid 2px black;
    width: 250px;
}

.aviso img {
    display: block;          
    max-width: 100%;
    height: auto;
}

.aviso p {
    font-family: 'Instrument Sans', sans-serif;
    font-size: 15px;
}

strong {
    font-weight: bold;
}

.sublinhado {
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 1.5px; 
    color: black;
}

.butao {
    display: flex;
    flex-direction: column; 
    gap: 5px; 
    align-items: center; 
    margin-top: 20px;
}

.butao button {
    width: 335px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    font-family:'Instrument Sans', sans-serif;
    cursor: pointer;
    box-shadow: 2px 3px 0px black;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.5 ease;
}

.butao button:hover {
    transform: translateY(-4px);
}

.butao .continue {
    background-color: black;
    color: white;
    border: 1px solid white;
}

/* --- Desktop --- */
@media (min-width: 768px) {
    .cabeçalho {
        display: flex; 
        justify-content: flex-end;
        padding: 20px 50px;
    }

    .cabeçalho img {
        width: 70px;
        margin-top: 1px;
        margin-left: 1499px;
    }

    .aviso {
        width: 410px;
        height: 200px;
        margin-top: 90px;
    }

    .aviso p {
        font-size: 20px;
    }

    .butao button {
       margin-top: 10px;
       width: 500px;
       padding: 10px;
    }
}
