* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    background-color: var(--bg-color);
}

/*COVER AND NAME*/


.profile, .statistics, .options {
    width: 95%;
    margin: 0 auto;
}

.profile__cover {
    background-color: #8EABC3;
    width: 100%;
    height: 120px;
    z-index: 0;
}

.profile__picture-name {
    display: flex;
    align-items: end;
    gap: 16px;
    z-index: 1;
    margin-top: -40px;

}

.profile__picture-name h1 {
    font-size: 1.2rem;
}

.profile__picture-name p {
    font-size: 1rem;
}

.profile__picture-name img {
    border-radius: 10px;
    border: var(--border);
}

/*STATISTICS*/

.statistics {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.statistics p {
    font-size: 0.8rem;
}

.statistics h4 {
    font-size: 1.2rem;
    color: var(--highlight-yellow);
}

.exchanges, .reviews, .responses {
    background-color: var(--white);
    border-radius: var(--border-radius);
    border: var(--border);
    text-align: center;
    padding: 16px 20px;
    box-shadow: var(--box-shadow);
}

/*OPTIONS*/

.options {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.options a{
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}

.btn {
    background-color: var(--highlight-yellow);
    width: 100%;
    padding: 16px;
    border-radius: var(--border-radius);
    border: var(--border);
    box-shadow: var(--box-shadow);
}

.btn-inventory {
    background-color: var(--light-yellow);
} 

.btn-list {
    background-color: var(--medium-yellow);
} 

.btn-chat {
    background-color: var(--highlight-yellow);
} 

.btn:hover {
    background-color: var(--black);
    color: var(--white);
}
