@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  /*COLORS*/
  --bg-color: #f8f8f8;
  --menu-bg: #202020;
  --white: #ffffff;
  --black: #000000;
  --highlight-yellow: #ffc257;
  --medium-yellow: #faefdd;
  --light-yellow: #fefaef;
  --red: #ce0003;

  /*FONT*/
  --font-family: "Instrument Sans", sans-serif;

  /*BORDER*/
  --border: 2px solid black;
  --border-thin: 1px solid black;
  --box-shadow: 1px 1px 0 black;
  --border-radius: 10px;
}

